[submodule "ThirdParty/Other/assimp"]
	path = ThirdParty/Other/assimp
	url = https://github.com/chichi-9527/assimp.git
[submodule "ThirdParty/Other/freetype"]
	path = ThirdParty/Other/freetype
	url = https://github.com/chichi-9527/freetype.git
[submodule "ThirdParty/Other/glfw"]
	path = ThirdParty/Other/glfw
	url = https://github.com/chichi-9527/glfw.git
[submodule "ThirdParty/Other/bullet3"]
	path = ThirdParty/Other/bullet3
	url = https://github.com/chichi-9527/bullet3.git
